<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>greeting page</title>
</head>
<body>
    
    <nav class="nav">
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Info</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
    <div>
        <img src="solo_project/flask_app/images/love.jpg" alt="photo">
        
    </div>
</body>
</html>