<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
    <h1>Messages</h1>
    <a href="/home">Home</a>
{% for user in users %}
    <div>
        <h2>{{ user.first_name }}</h2>
        <img  src="{{ user.profile_picture }}" alt="Profile Picture">
        <a href="/message/users/text/{{user.id}}">Message</a>
    </div>
{% endfor %}
</body>
</html>