<!DOCTYPE html>
<html>

<head>
	<title>My Matches</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1>My Matches</h1>
		<a href="/home/matches">Home</a>
		<hr>
		<div class="row">

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">First Name: {{ match.first_name }} </h5>
						<h5 class="card-title">Last Name: {{ match.last_name }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">Age: {{ match.age }}</h6>
						<p class="card-text">City: {{ match.city }}</p>
						<p> Description: {{ match.description }}</p>
						<p>{{match.picture}}</p>
					</div>
				</div>
			</div>

		</div>
	</div>


</body>

</html>